<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes App</title>
</head>

<body>
    <h1>Notes App</h1>

    <a href="/register">register</a>

    <h2>Login here:</h2>

    <form method="post">
        {{ form.hidden_tag() }}
        <h3><label>Username:</label></h3> 
         {{ form.username() }}
        <h3><label>Password:</label></h3> 
        {{ form.password() }}
        <br><br>
        {{ form.submit() }}
    </form>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}

</body>

</html>