

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes App</title>
</head>

<body>
    <h1>Notes App</h1>

    <a href="/logout">logout</a>
    <hr>

    <h2>Add here:</h2>

    <form method="post" action="/add_notes">
        {{ form.hidden_tag() }}
        <h3><label>Note:</label></h3> 
        {{ form.note_info() }}
        <br><br>
        {{ form.submit() }}
    </form>

    <br>
    <hr>

    <h4>Notes:</h4>
    <ul>
    {% for note in notes %}
    <li>{{ note.note_info | e }} <a href="/delete/{{ note.id }}">Delete</a></li>
    {% endfor %}
    </ul>



</body>

</html>