

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Notes App</title> <!--borwser title-->
</head>

<body>
    <h1>Notes App</h1>

    <a href="/logout">logout</a> <!-- anchor tag to logout-->
    <hr>

    <h2>Add here:</h2>

    <form method="post" action="/add_notes"> <!--form for adding a new note-->
        {{ form.hidden_tag() }} <!--CSRF token-->
        <h3><label>Note:</label></h3> 
        {{ form.note_info() }} <!--note info added here-->
        <br><br>
        {{ form.submit() }}
    </form>

    <br>
    <hr>

    <h4>Notes:</h4>
    <ul>
    {% for note in notes %} <!--loop through all notes-->
    <li>{{ note.note_info | e }} <a href="/delete/{{ note.id }}">Delete</a></li> 
    <!--dsiplays note content escape flag and delete note link-->
    {% endfor %}
    </ul>



</body>

</html>