
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notes App</title>
</head>

<body>
    <h1>Notes App</h1>

    <a href="/login">login</a>

    <h2>Register here:</h2>

    <form method="post">
        {{ form.hidden_tag() }}
        <h3><label>Username:</label></h3> 
         {{ form.username() }}
        <h3><label>Password:</label></h3> 
        {{ form.password() }}
        <br><br>
        {{ form.submit() }}
    </form>
    
    {% if error %} <!--displays error if error is here-->
    <p>{{error}}</p>
    {% endif %}

    <br><br>
    <hr>
    <!--password checklist here-->
    <h4>Password Checklist</h4>
    <ul><li>8 char Long</li></ul>
    <ul><li>1 capital letter</li></ul>
    <ul><li>1 lowercase letter</li></ul>
    <ul><li>1 digit</li></ul>

</body>

</html>